@page
@model IndexModel
@{
    ViewData["Title"] = "Tic-Tac-Two";
    var foobar = "Fido";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@ViewBag

@* @Model.sdfwef *@

<form asp-page=""></form>
