@page
@model Pages.NewGameModel

        @{
        ViewData["Title"] = "New Game";
        }
        
        <h1>New Game</h1>
        
    @* <h4>SavedGame</h4> *@
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameName" class="control-label">Name:</label>
                <input asp-for="GameName" class="form-control" />
                <span asp-validation-for="GameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfigurationName" class="control-label">Configuration:</label>
                <select asp-for="ConfigurationName" class ="form-control" asp-items="ViewBag.ConfigurationName"></select>
                <span asp-validation-for="ConfigurationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModeName" class="control-label">Game Mode:</label>
                <select asp-for="ModeName" class="form-control" asp-items="ViewBag.GameMode"></select>
                <span asp-validation-for="ModeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerXName" class="control-label"></label>
                <input asp-for="PlayerXName" class="form-control" />
                <span asp-validation-for="PlayerXName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerOName" class="control-label"></label>
                <input asp-for="PlayerOName" class="form-control" />
                <span asp-validation-for="PlayerOName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerXPassword" class="control-label"></label>
                <input asp-for="PlayerXPassword" class="form-control" />
                <span asp-validation-for="PlayerXPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerOPassword" class="control-label"></label>
                <input asp-for="PlayerOPassword" class="form-control" />
                <span asp-validation-for="PlayerOPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
