@page
@model IndexModel
@{
    ViewData["Title"] = "Rules";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 text-justify">
            <h1 class="display-4 text-center pb-3">TIC-TAC-TWO</h1>
            <h2 class="display-6 text-center">Classical Game Rules</h2>
            <br>
            <p>
                Tic-Tac-Two closely follows the rules of Tic-Tac-Toe.
                To begin the game, a moveable grid is placed on the game board. It can be placed on any location on the
                board as long as the whole grid is on the game board. The game begins like Tic-Tac-Toe where both
                players alternate placing their first two pieces.
            </p>
            <p>
                After both players have placed 2 tokens, each player then has a choice of what they would like to do on
                their turn.
            </p>
            <h4 class="pt-3 pb-2">They can do one of the following:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    Place one of the pieces that are still in their hand in one of the spots in the grid.
                </li>
                <li class="list-group-item">
                    Move one of their pieces that are in the grid to another spot in the grid.
                </li>
                <li class="list-group-item">
                    They may move the grid one spot in any direction (horizontally, vertically, or diagonally).
                </li>
            </ul>
            <p class="pt-4">
                When both players are out of pieces and there is still no winner, additional 2 rounds of game are
                available
                where players can make moves 2. or 3. on their turn.
            </p>
            <p>
                <strong>
                    But these are just the rules for the classical game.
                    Check out other configurations or create an entirely new configurations to bend the rules ;)
                </strong>
            </p>
        </div>
    </div>
</div>
