@page
@model WebApp.Pages.Game.Index

<h1>@Model.TicTacTwoBrain.GetGameConfigName()</h1>

<table class="table" style="max-width: 200px" border="1">
    @foreach (var row in Model.TicTacTwoBrain.GameBoard)
    {
        <tr>
            @foreach (var piece in row)
            {
                <td>
                    &nbsp;
                    @ConsoleUI.Visualizer.DrawGamePiece(piece)
                    &nbsp;
                </td>
            }
        </tr>
    }
</table>
